.login-wrapper{
    min-height: 100vh;
    flex: 7.5;
    text-align: center;
    background-color: #2C3333;
    align-content: center;
}

.login-container{
    height: 250px;
    width: 400px;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.login-container > input {
    outline: 0;
    border-width: 0 0 2px;
    /* margin-bottom: .5rem; */
    background-color: transparent;
    border-color: white;
    width: 50%;
    margin: auto;
}

.login-container > input:focus{
    color: white;
}

.login-button{
    width: 50%;
    margin: auto;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    display: inline-block;
    height: 1.5rem;
    cursor: pointer;
    transition: background-color .5s;
}

.login-button:hover{
    background-color: white;
    color: black;
}

