.home-container{
    /* height: 1000px; */
    min-height: 100vh;
    flex: 7.5;
    /* background-color: #CBE4DE; */
    overflow: none;
}

.budget-graph-container{
    margin: auto;
    display: flex;
    height: 15rem;
    width: 85%;
    /* border: 1px black solid; */
    margin-top: 1.5rem;
    justify-content: space-around;
    gap: 3rem;
}