.expense-table{
    margin: auto;
    /* min-height: 25rem; */
    width: 80%;
    /* margin-top: 3rem; */
    border-radius: 10px;
    border-collapse: collapse;
    font-size: .9rem;
    overflow: hidden;
}

.expense-table thead tr{
    background: linear-gradient(90deg, rgba(46,79,79,1) 31%, rgba(14,131,136,1) 100%, rgba(203,228,222,1) 100%);
    color: white;
    text-align: left;
    font-weight: bold;
}

.expense-table th, .expense-table td{
    padding: 12px 15px;
}

.expense-table tbody, tr{
    border-bottom: 1px solid #d3d3d3;
}

.expense-table tr:nth-of-type(even){
    background-color: #eae4e4;
}

.expense-table tr:last-of-type{
    border-bottom: 2px solid #0E8388;
}