.sidebar-container{
    align-self: flex-start;
    height: 100vh;
    background-color: #2E4F4F;
    flex: 1;
    position: sticky;
    top: 3rem;
    box-shadow: 5px 0 5px -2px #888;

}

.sidebar-list{
    height: auto;
    padding: 0;
    width: 100%;
    cursor: pointer;
    color: white;
    margin-top: 0;
}

.sidebar-list .sidebar-links{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    list-style-type: none;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-links .sidebar-icons{
    flex: 30%;
    display: grid;
    place-items: center;
}

.sidebar-links .sidebar-title{
    flex: 70%;
}


.sidebar-icons:hover{
    transform: rotate(720deg);
} 

.sidebar-icons{
    transition: transform 1s ease-in;
}

.sidebar-links:hover{
    background-color: #2C3333;
    color: #CBE4DE;
}