.nav-bar-container{
    border: 1px lightblue solid;
    width: 100vw;
    max-width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name{
    color: white;
    padding-left: 1rem;
}

.nav-button{
    margin-right: 1rem;
    height: 1.5rem;
}