.nav-bar-container{
    width: 100vw;
    max-width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.logo-name{
    color: white;
    padding-left: 1rem;
}

.nav-button{
    margin-right: 1rem;
    height: 1.5rem;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: black;
}